########################################################################
# Example configuration for SQLite3
########################################################################
[database]
dbn=sqlite
# Database name
db=/home/joxean/Documentos/research/diaphora/indexes.sqlite
